<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link th:href="@{/css/content.css}" rel="stylesheet">

	</head>

<body>
	<header>
		<div class="header-logo">My Portfolio</div>
		<div class="header-login">
			<a href="#" class="login">ログイン</a></div>
	</header>
	
    <div class="container">
        <div th:if="${validationError}" th:each="error : ${validationError}">
            <label class="text-danger" th:text="${error}"></label>
        </div>
        <h1>新規登録</h1>
        <form th:action="@{/user/signin}" th:object="${userAddRequest}" th:method="post">
            
			
			<div class="form-group">
				<div class="content">
                <p class="name">氏名</p>
         <input type="text" th:field="*{name}" class="form-control">
				</div>
				<div class="content">
                <p>メールアドレス</p>
                <input type="text" th:field="*{email}" class="form-control">
				</div>
				<div class="content">
                <p>パスワード</p>
                <input type="text" th:field="*{password}" class="form-control">
				</div>
            
                <input type="submit" value="登録する" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>