<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link th:href="@{/css/content.css}" rel="stylesheet">
	</head>
<body>
	<header>
		<div class="header-logo">My Portfolio</div>
		<input type="button" onclick="location.href='./login'" value="ログイン" class="header-login"/>
	</header>
	
	<div class="container">
	
		<h1>{カテゴリー名}を追加</h1>
		<form th:action="@{/user/skilladd}" th:object="${skillAddRequest}" th:method="post">	
	
		<div class="form-group">
			<div class="content">
				<p class="name">項目名</p>
				<input type="text" th:field="*{name}" class="form-control">
				<div th:if="${#fields.hasErrors('name')}" th:text="${error}">
					<p th:each="error : ${#fields.errors('name')}" th:text="${error}"></p>
				</div>
			</div>
			<div class="content">
				<p>学習時間</p>
				<input type="number" th:field="*{study_time}" class="form-control">
				<div th:if="${#fields.hasErrors('study_time')}" th:text="${error}">
					<p th:each="error : ${#fields.errors('study_time')}" th:text="${error}"></p>
				</div>
			</div>
			
			<input type="submit" value="追加" class="btn btn-primary">
		</div>
	
		</form>
	</div>
	
	<footer class="footer">
		<div class="footer-logo">
			<p th:text="${hoge}" class="footer-logo">ユーザー名</p>
		</div>
	</footer>

</body>
</html>