<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"　
	　xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	
	 <head>
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link th:href="@{/css/content.css}" rel="stylesheet">
<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.3/Chart.bundle.js"></script>-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
	</head>

<body>
	<header>
			<div class="header-logo">My Portfolio</div>
			<input type="button" onclick="location.href='./login'" value="ログアウト" class="header-login"/>
	</header>
	
	<div class="container">
		
		<section class="section-wrap">
				
			<div class="profile">
				<p class="circle-img"><img th:src="@{/img/profileimgdummy.png}" alt="ユーザーのプロフィール写真"></p>
				<p th:text="${hoge}" class="username">ユーザー名</p>
			</div><!--profile div-->
			
			<div class="section-body">
				<h2 class="section-title">自己紹介</h2>
				<p th:text="${selfIntroduction}" class="self-introduction"></p><!--更新後の自己紹介文を表示-->
				<input type="button" onclick="location.href='./textedit'" value="自己紹介を編集する" class="edit-btn">
			</div><!-- section-body div-->
			
		</section>
		
	
		<div class="chart-wrap">
			
			
			<h2>学習チャート</h2>
			
			<input type="button" onclick="location.href='./skilledit'" value="編集する" class="edit-btn">
			
		</div>		<!--chart-wrap div-->
		
		
		<!--ここからテストコード-->
		
	<div class="chart-wrapper">
		<div class="chart">
		<canvas id="chart"></canvas>		  
		
		<script th:inline="javascript">
			
			let expenseByStudytime = /*[[${expenseByStudytime}]]*/ [];
			
			// データをカテゴリーごとに分ける
			    let groupedByCategory = {};
			    expenseByStudytime.forEach(expense => {
			        let category = expense.category_id;
			        if (!groupedByCategory[category]) {
			            groupedByCategory[category] = [];
			        }
			        groupedByCategory[category].push(expense);
			    });
				
				// 3つの配列に分割
				        let arrays = Object.keys(groupedByCategory).map(key => groupedByCategory[key]);
				        console.log(arrays);
			
			console.log(/*[[${expenseByStudytime}]]*/);
			console.log(arrays[0][0].study_time);
			
		   let ctx = document.getElementById("chart");
		   
		   // 要素が足りない場合にデフォルト値を設定する関数
		    function getStudyTime(arr, index) {
				if (!arr) {
				         return 0;
				     }
		        return (arr[index] && arr[index].study_time) ? arr[index].study_time : 0;
		    }
			
			
		   
		   //表示するチャート
		   let samplechart = new Chart(ctx, {
			
			type: 'bar',
			data: {
			            labels: ["先々月","先月", "今月"],
			            datasets: [{
							
							     label: 'バックエンド',
							     data:[
										getStudyTime(arrays[0], 0),
										getStudyTime(arrays[0], 1),
										getStudyTime(arrays[0], 2)								 
									 ],
							     backgroundColor:'rgba(255, 182, 193, 0.6)',
								 
							   }, {
								label: 'フロントエンド',
								data: [
										getStudyTime(arrays[1], 0),
										getStudyTime(arrays[1], 1),
										getStudyTime(arrays[1], 2)
									], 
								backgroundColor: 'rgba(244, 164, 96,0.6)',
								
							   }, {
								label: 'インフラ',
								data: [
										getStudyTime(arrays[2], 0),
										getStudyTime(arrays[2], 1),
										getStudyTime(arrays[2], 2)
									], 
							     backgroundColor: 'rgba(255, 228, 181,0.6)',
							   }],
							   
							   						   
			          },

		   });
		   
		   </script>
		<!--ここまでテストコード-->
		</div><!--chart div-->
		</div><!--chart-wrap div-->
	</div><!--container div-->
	
	<footer class="footer">
		<div class="footer-logo">
			<p th:text="${hoge}" class="footer-logo">ユーザー名</p>
		</div>
	</footer>


</body>
</html>