@charset "UTF-8";

body{
	margin:0;
	font-family: Roboto;
}

header{
/*	width: 100%;*/
	height: 120px;
	background: rgba(27, 86, 120, 1);
	font-family: Roboto;
	padding: 0px 40px 0px 40px;
	display: flex;
	align-items: center;
}

.login-header{
	width: auto;
	height: 120px;
	background: rgba(27, 86, 120, 1);
	font-family: Roboto;
	padding: 0px 40px 0px 40px;
	display: flow-root;
}

.header-logo{
	color: white;
	font-size: 36px;
	font-weight: 700;
	

}

.header-login{
	background-color: white;
	border-radius: 4px;
	padding: 16px 40px;
	margin-left: auto;
	transition: 0.3s;
}


header p{
	color: white;
	font-size: 36px;
	text-align: center;
	font-weight: 700;
	
}
.login{
	color: black;
	text-decoration: none;
	width: 72px;
	height: 21px;

}


h1{
	color: #000000BF;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 400;
	margin-top: 80px;
	margin-bottom: 80px;

}

.container{
	text-align: center;
	margin-bottom: 100px;
	margin-top: 100px;
}

.content {
    text-align: left;
    margin-top: 20px;
}


form{
	width:480px;
	margin:0 auto;
}

.form-group{
	text-align: center;
}

.form-control{
	width: 480px;
	height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding:0px 2px;
    margin-bottom: 30px;
}

.btn{
	width: auto;
	height: 53px;
	padding: 16px 80px 16px 80px;
	gap: 0px;
	border-radius: 4px;
	opacity: 0px;
	background: rgba(27, 86, 120, 1);
	color: white;
	margin-top: 50px;
	transition: 0.3s;
	border: none;
}

.edit-btn{
	width: 242px;
	height: 53px;
	gap: 0px;
	border-radius: 4px;
	opacity: 0px;
	background: rgba(27, 86, 120, 1);
	color: white;
	transition: 0.3s;
	font-size: 18px;
	border: none;
}

.edit-btn:hover{
	opacity: 0.8;
}
.btn:hover{
	opacity: 0.8;
	
}

footer.footer{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		z-index: 1000;
		background-color: #1B5678;
		color: white;
		margin-top: 100px;
}

.footer-logo{
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
}

.error-message{
	color: red;
}

/*トップページのCSS*/
.section-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-title{
	font-size: 36px;
	font-weight: 700;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	padding: 0px 0px 20px 0px;
}

.section-body{
	width: 520px;
	text-align: left;
	margin-left: 80px;
	margin-bottom: 50px;
}

.self-introduction{
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}

.circle-img img{
	width: 360px;
	height: 360px;
	border-radius: 50%;
	object-fit:cover ;
}
.username{
	text-align: center;
    display: inline;
    font-size: 20px;
    font-weight: 400;
}

textarea{
	width: 480px;
	height: 122px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding:0px 2px;	
}

.chart-wrap{
	display: inline-block;
	width: 400px;
}

.chart-wrap h2{
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    font-size: 36px;
	font-weight: 700;
}
/*SkilleditページのCSS*/

select{
	width: 100px;
	height: 50px;
	padding: 8px 16px 8px 16px;
	border-radius: 4px;
	border: 1px solid #DDDDDD;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 40px;
}

.skill-wrapper{
	width: 960px;
	display: inline-block;
	
}

.select-month{
	text-align: left;
}

.skill-wrap{
	width: 960px;
	display: inline-block;
	border: 1px solid #00000080;
	padding: 40px;
	border-radius: 8px;
	margin-bottom: 40px;
	
}
.skill-header{
	display: flex;
	align-items: center;
}

.skill-title{
	width: 240px;
    text-align: left;
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.add-item{
	background-color:#1B5678;
	color: white;
	border-radius: 4px;
	padding: 16px 40px;
	margin-left: auto;
	transition: 0.3s;
	border: none;
}
.add-item:hover{
	opacity: 0.8;
}

.table{
	border-radius: 4px;
	width: 100%;
	margin-top: 30px;
	box-shadow: 0px 2px 2px 3px #0000001F;
	max-height: 305px;
    overflow-y: auto;
    display: block;
}
th{
	text-align: left;
	padding: 16px 16px 16px 40px;
	position: sticky;
    top: 0;
    z-index: 2;
    background: white;
}

tr{
	height: 73px;
}

td{
	border-top: 1px solid #ccc;
}

col.width-240{
	width: 240px;
}

col.width-200{
	width: 200px;
}

.item-title{
	text-align: left;
	padding: 16px 16px 16px 40px;
}

.study-hours{
	width: 160px;
	height: 40px;
	padding: 3px 0px 3px 12px;
	border-radius: 4px;
	border: 1px solid #0000003B;
	text-align: left;
	
}

.save-studyhours{
	color: #1B5678;
	background: #FFFFFF;
	font-size: 14px;
	width: 158px;
	height:35px;
	padding: 8px 16px;
	border-radius: 4px;
	border: 1px solid #1B5678;
	transition: 0.3s;
}

.save-studyhours:hover{
	background-color: #1B5678;
	color: #FFFFFF;
}

.delete{
	width: 88px;
	height:35px;
	padding: 8px 16px;
	border-radius: 4px;
	background: #EE6969;
	color: #FFFFFF;
	font-size: 14px;
	border: none;
	transition: 0.1s;
}

.delete:hover{
	border: 1px solid #EE6969;
	color: #EE6969;
	background-color: #FFFFFF;
}

.chart{
	width: 980px;
	display: inline-block;
	margin-top: 70px;
}


