<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.portfolioapp.dao.UserInfoMapper">

 <insert id="save">
        INSERT INTO users
            (email, name, self_introduction, password, created_at, updated_at)
        VALUES
            (#{email}, #{name}, #{self_introduction}, #{password},CURRENT_TIMESTAMP,  CURRENT_TIMESTAMP)
    </insert>
   </mapper>