<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.portfolioapp.dao.UserInfoMapper">

 <insert id="save">
        INSERT INTO users
            (email, name, self_introduction,password, created_at, updated_at)
        VALUES
            (#{email}, #{name},#{self_introduction},#{password},CURRENT_TIMESTAMP,  CURRENT_TIMESTAMP)
    </insert>
    
    <select id="findByName" parameterType="String" resultType="com.example.portfolioapp.entity.UserInfo">
  SELECT id, email, password
  FROM users
  WHERE email = #{email}
</select>

<!-- 自己紹介文の追加 -->
 <update id="update">
        update users
        set self_introduction = #{self_introduction}
        where id = #{id}  
 </update>
 
 
<!-- 項目名と学習時間の追加-->
<insert id="add">
INSERT INTO  learning_data
           (name,study_time,category_id,user_id,created_at, updated_at)
       VALUES
           (#{name},#{study_time},#{category_id},#{user_id},CURRENT_TIMESTAMP,  CURRENT_TIMESTAMP)
</insert>

<!-- 学習データの表示 -->
 <select id="findAll" resultType="com.example.portfolioapp.entity.SkillInfo">
  SELECT * FROM learning_data WHERE user_id = #{user_id}
</select>

<select id="findName" parameterType="String" resultType="com.example.portfolioapp.entity.SkillInfo">
  SELECT name FROM learning_data
  WHERE name = #{name}
</select>

<!--カテゴリー名の検索-->
<select id="findCategory"  resultType="com.example.portfolioapp.entity.CategoriesInfo">
SELECT id,name FROM categories
  WHERE id = #{category_id}
</select>

<!-- 学習時間の更新 -->
 <update id="updateTime">
        update learning_data
        set study_time = #{study_time}
        where id = #{id}  
 </update>
 
 <!-- 学習データの削除 -->
  <delete id="deleteData" >
  delete from learning_data
  where id = #{id}
  </delete>
  
  <!-- 学習時間合計の表示 -->
 <select id="SumStudyTime"  resultType="com.example.portfolioapp.entity.SkillInfo">
select  month,category_id,sum(study_time) as study_time from learning_data where month in (7,8,9)  group by category_id ,month order by category_id;
</select>

   </mapper>
   